{% macro render_directives(data, indent=0) %}
{% if data is mapping %}
{% for key, value in data.items() %}
{% if value is mapping %}
{% for v_key, v_value in value.items() %}
{{ " " * indent }}{{ key }} {{ v_key }} {
{{ render_directives(v_value, indent + 4) }}
{{ " " * indent }}}
{% endfor %}
{% elif value is iterable and value is not string %}
{% for item in value %}
{{ " " * indent }}{{ key }} {{ item }};
{% endfor %}
{% else %}
{{ " " * indent }}{{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}
{# -------------------------------
    GLOBAL (top-level directives)
-------------------------------- #}
{{ render_directives(nginx.global) }}
{# -------------------------------
    EVENTS
-------------------------------- #}
events {
{{ render_directives(nginx.events, 4) }}
}
{# -------------------------------
    HTTP BLOCK
-------------------------------- #}
http {
{# -------------------------------
    GLOBAL HTTP SETTINGS
-------------------------------- #}
{{ render_directives(nginx.http, 4) }}
{# -------------------------------
    HTTP SERVERS SETTINGS
-------------------------------- #}
{% if nginx.servers is defined and  nginx.servers is mapping %}
{% for server_name, server in nginx.servers.items() %}
{% for proto in ['http', 'https'] %}
{% if server[proto] is defined %}
    server {
        {% if server.alias is defined and server.alias is string -%}
        server_name {{ server_name }} {{ server.alias }};
        {% else -%}  
        server_name {{ server_name }};
        {% endif %}
        
{{ render_directives(server[proto], 8) }}
    }
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
}